<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" type="image/x-icon" href="../../client/public/img/avatar.png">
    <title>Login Panel</title>
</head>
<body>
    <div>
    <h1>Login</h1>

    <input id="email" type="email" placeholder="USERNAME"> 
    <input id="pass" type="password" placeholder="PASSWORD">

    <h1 id="emailout"></h1>
    <h1 id="passout"></h1>

    <!-- <label><input type="checkbox">Remember Me</label> -->

    <a id="forpass" href="#">Forget Password</a>
    <h1 id="output"></h1>

    <button id="loginbtn" type="submit">Login</button>
    </div>







    
<script src="js/login.js"></script>
</body>
</html>